
{% extends "base.html" %}
{% block content %}
<div id="gauche">
<p> <img src="{{ url_for('static', filename='cake.png') }}" style="width:100px;border:none" alt="gateau"/> </p>
</div>
<div id="droite">
<h2>Rechercher une recette</h2>

<form method="POST" action="{{ url_for('accueil') }}">
 <table border=0 cellpadding=0 cellspacing=4 width=620>
<tr>
  <td class="cadre" width=120px;><label for="nomrecette">nom de recette</label></td>
  <td class="cadrecel" > <input type="text" name="nomrecette"  value="{{ nomrecette }}"  /></td>
  <td></td>
  <td rowspan=3><input type="image" value="submit" src="{{ url_for('static', filename='Recherche-red.svg') }}" style="" width=100px /></td>
</tr>
<tr>
  <td class="cadre"><label for="ingredient">ingrédient</label></td>
  <td class="cadrecel" ><input type=text name="ingredient" value="{{ ingredient }}" /></td>
  <td></td>
</tr>
<tr>
  <td class="cadre" width=120px;><label for="category">Catégorie</label></td>
<td><select name="category" size="1" value=1>

{% for categorie in listecategorie %}
    {% if categorie != None or "" %}
<option>{{ categorie }}</option>
    {% endif %}
{% endfor %}
</select>
</td>
</tr>
</table>
</form>


{% if req!='' %}
<!--<table width=100% id="affichenomrecette"  border=2 bordercolor=#9999ff cellpadding=0 cellspacing=4>-->
<table class="tablerecette"  id="affichenomrecette" >
<tr> <td id="celnom"> nom de la recette</td> </tr>
{% for ligne in req %}
<!--<tr><td><input type=submit name={{ ligne[0] }} value={{ ligne[1] }} /></td></tr>-->
<tr><td><a href="{{ url_for('fonction_recette' , recette_id=ligne[0]) }}">{{ ligne[1] }}</a></td></tr>
{% endfor %}
</table>
</div>
{% endif %}

{% endblock %}
