<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>{{ titre }}</title>
<link href="{{ url_for('static', filename='mon_style.css') }}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{url_for('static', filename='mes_scripts.js') }}"></script>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
{% include 'entete.html' %}
{% include 'menu.html' %}
<section>
    <div id="content">
{% block  content %}

{% endblock %}
    </div>
</section>
{% include 'footer.html' %}
</body>
</html>
