<!--<footer>Lacuisine de pablo le <em class=Rouge id="date"></em> <script type="text/javascript">window.onload = datejs('date');</script>, il est  <em class=Rouge id="heure"></em><script type="text/javascript">window.onload = heurejs('heure');</script>.</footer>
-->
<footer>
<div id="dateheurefoot"></div>
<script>setInterval("horloge()", 1000);</script>
</footer>

