{% extends "base.html" %}
{% block content %}
<p><h2>Recettes sans sucre</h2></p>

<table class="tablerecette">
<!--<table  width=100% border=2 bordercolor=#9999ff cellpadding=0 cellspacing=2>-->
<tr>

<td width=150 valign=top>
<h3>Nom</h2>

{% for i in sans_sucre %}
{{i[0]}} <br />
{% endfor %}

</td>
<td width=150 valign=top>
<h3>Catégorie</h3>


{% for j in sans_sucre %}
{{j[1]}} <br />
{% endfor %}

</td>
</tr>
</table>

{% endblock %}
