<ul  id="menu" class="Menu">
  {%- for item in current_menu.children recursive -%}
  <li>
        <a href="{{ item.url}}" {% if item.active %}class="fondR"{% else %}class="fondM"{% endif %}>{{ item.text }}</a>

    {%- if item.children -%}
    <ul>
      {{ loop(item.children) }}
    </ul>
    {%- endif -%}
  </li>
  {%- endfor -%}
</ul>

